BRIGHTDATA_LIVE=0
BRIGHTDATA_API_TOKEN=your_bright_data_api_token
BRIGHTDATA_SERP_ZONE=your_serp_zone
BRIGHTDATA_UNLOCKER_ZONE=your_unlocker_zone
BRIGHTDATA_COUNTRY=us
BRIGHTDATA_TIMEOUT_MS=12000
BRIGHTDATA_BROWSER_ENABLED=0
BRIGHTDATA_BROWSER_USERNAME=your_browser_api_zone_username
BRIGHTDATA_BROWSER_PASSWORD=your_browser_api_zone_password
BRIGHTDATA_BROWSER_MAX_PER_REVIEW=1
AIMLAPI_ENABLED=0
AIMLAPI_API_KEY=your_aimlapi_key
AIMLAPI_MODEL=your_aimlapi_model
AIMLAPI_BASE_URL=https://api.aimlapi.com/v1
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/path
PORT=3000
